@import "../../../../../sass/abstracts/mixins";
@import "../../../../../sass/abstracts/constants";

.dropdown__content.navigation__dropdown {
  position: absolute;
  top: 64px;
  left: 0;
  margin: 0;
  width: 100%;
  text-align: left;
  background-color: $color-bg-light;
  box-shadow: 0 5px 10px -5px rgba(113, 96, 126, 0.5) inset;
  @include font(1.4rem, 2.4rem, 400);
  @media (max-width: 420px) {
    width: 100vw;
    height: 60vh;
    left: -1rem;
    box-shadow: none;
    opacity: 100%;
  }
}
.dropdown__content.navigation__dropdown .dropdown-item {
  display: block;
  cursor: pointer;
  color: $color-text-dark;
  padding: 16px 16px 16px 72px;
  text-decoration: none;
  &:hover {
    background-color: $color-primary-light-header;
    color: $color-primary;
    border-right: 3px solid $color-primary;
  }
  @media (max-width: 550px) {
    padding: 16px;
  }
}
