.quill {
  width: 100%;
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
}

.ql-editor {
  font-size: 1.5rem;
}

.ql-toolbar.ql-snow {
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid;
}

.ql-container.ql-snow {
  height: 65vh;
  & * {
    color: black;
  }
}

.ql-editor p img {
        width: fit-content;
}

.ql-tooltip.ql-editing::before {
  content: "Добавьте ссылку"!important;
}
.ql-action::after{
  content: "Сохранить"!important;
}
