@import "../../../../sass/abstracts/constants";
@import "../../../../sass/abstracts/mixins";
@import "../../../../sass/abstracts/placeholders";

.onboarding {
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin-bottom: 10vh;
  height: 100vh;
  @media (max-width: 620px) {
    padding: 0;
    width: 100vw;
  }
}

.onboarding__wrapper {
  background: rgba(237, 220, 228, 0.25);
  height: calc($block-height - 30vh);
  width: 100%;
  border-radius: 16px;
  backdrop-filter: blur(11.875404357910156px);
  padding: 5vh;
  position: relative;
  @media (max-width: 620px) {
    height: 80vh;
    padding: 0;
  }
}

.onboarding__text {
  white-space: nowrap;
  @include font(2.4rem, 3.2rem, 700);
  position: absolute;
  &:hover {
    transform: scale(1.2);
    @extend %transition;
  }
  &_article {
    top: 15%;
  }
  &_audience {
    right: 1%;
    top: 20%;
  }
  &_experience {
    top: 42%;
    left: 48%;
  }
  &_likes {
    bottom: 20%;
    left: 15%;
  }
  @media (max-width: 620px) {
    position: relative;
    top: 0;
    left: 0;
    padding: 7vh 0;
    width: 100%;
  }
}
.onboardBg {
  position: absolute;
  height: $block-height;
  top: 10vh;
  width: 100%;
  padding: 3%;
  @media (max-width: 620px) {
    display: none;
  }
}
.onboard__lines_horizon {
  position: absolute;
  left: 0;
  top: 30%;
  height: 40%;
  width: 100%;
  padding: 0 2%;
  @media (max-width: 620px) {
    display: none;
  }
}

.onboardVertical {
  position: absolute;
  top: 0;
  left: 0;
 object-fit:fill;
 width: 100vw;
 height: 80vh;
  @media (min-width: 621px) {
    display: none;
  }
}

