@import "../../../../sass/abstracts/constants";
@import "../../../../sass/abstracts/mixins";
@import "../../../../sass/abstracts/placeholders";

.articles {
  padding-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.articles__wrapper {
  background-image: url("../../../../components/shared/assets/img/ui/articlebg.png");
  background-size: cover;
  padding: 50px 50px 15px;
  gap: 30px;
  min-height: 1083px;
}

.article-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
}
.slider {
  position: relative;
}

.slider__button {
  cursor: pointer;
  position: absolute;
  padding: 25px;
  top: 43%;
  &_left {
    left: -100px;
  }
  &_right {
    transform: rotate(180deg);
    right: -100px;
  }
}

.pagination {
  margin: 20px auto;
  text-align: center;
}

.articles__filter-btn {
  position: absolute;
  top: 195px;
  left: 140px;
  white-space: nowrap;
  padding: 10px 20px;
  background-color: $color-bg-light;
  border: 1px solid $color-text-grey;
  @include font(1.8rem, 2.4rem);
  border-radius: 4px;
  color: $color-primary;
  &:hover {
    background-color: $color-bg-light;
  }
}

.slider__icon {
  width: 14px;
  height: 44px;
  background-image: url("../../../../components/shared/assets/img/icons/sliderarrow.svg");
}
.likes__icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: baseline;
}
