.wrapper.sign-in__wrap.sign-up__wrap {
  flex-direction: row-reverse;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 2vh;
  }
}

.request_err_mes {
color: rgb(246, 68, 68);
position: absolute;
bottom: -10vh;
}