@import "../../sass/abstracts/constants";
@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/placeholders";

.sign-in {
  background-color: $color-primary-light-header;
}
.sign-in__wrap {
  padding: 85px 45px;
  display: flex;
}
.sign-in__preview {
  padding-top: 45px;
  padding-bottom: 180px;
  background-image: url("../../components/shared/assets/img/ui/sign-n-bg.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sign-in__preview_text {
  padding: 70px 43px;
  color: $color-text-dark-grey;
}
.sign-in__form {
  padding: 45px;
  flex-grow: 1;
}
.sif__wrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.sif__register-link {
  display: flex;
  gap: 40px;
  @include font(18px, 28px, 400);
  & > * {
    color: $color-text-dark-grey;
    white-space: nowrap;
  }
  & > a {
    cursor: pointer;
  }
}
.sif__input {
  background-color: $color-bg-light;
  margin-left: 15px;
  width: 360px;
}
.sif__button {
  margin: 0 auto;
}

.sif__error-msg {
  color: red;
}
