@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/constants";
@import "../../sass/abstracts/placeholders";

.header {
  position: sticky;
  top: 0;
  background-color: $color-primary-light-header;
  opacity: 95%;
  padding: 0 40px;
  box-shadow: 0 2px 4px 0 rgba(113, 96, 126, 0.5);
  z-index: 10;
  @media (max-width: 420px) {
    padding: 0 1rem;
    opacity: 100%;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  position: absolute;
  left: calc(50% - 51px);
  top:calc(50% - 18px);;
  display: block;
  background-image: url("../../components/shared/assets/img/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 102px;
  height: 36px;
  @media (max-width: 420px) {
    background-image: url("../../components/shared/assets/img/logo-mobile.svg");
    width: 40px;
    left: calc(50% - 20px);
    
  }
}

.header__buttons {
  width: 45%;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}
.header__profile-link {
  position: relative;
  justify-content: flex-end;
  text-align: right;
  
}
.profile-link__icon {
  display: inline-block;
  background-color: $color-primary;
  color: $color-bg-light;
  font-size: 22px;
  padding: 10px;
  border-radius: 50%;
}
.profile-link__dropdown {
  display: inline-block;
  position: absolute;
  top: 92%;
  right: 0;
  text-align: left;
  background-color: $color-bg-light;

  @include font(1.4rem, 2.4rem, 400);
  box-shadow: 0 5px 10px -5px rgba(113, 96, 126, 0.5) inset;
}
.profile-link__dropdown .dropdown-item {
  display: block;
  cursor: pointer;
  color: $color-text-dark;
  padding: 16px 16px 16px 72px;
  border-right: 3px solid transparent;
  text-decoration: none;
  width: 100%;
  &:hover {
    background-color: $color-primary-light-header;
    color: $color-primary;
    border-right: 3px solid $color-primary;
  }
  & > * {
    text-decoration: none;
  }
}
