@import "../../sass/abstracts/constants";
@import "../../sass/abstracts/mixins";

.article {
  padding-top: 100px;
  @media (max-width: 420px) {
    padding-top: 4vh;
  }
}
.article__wrapper {
  max-width: calc(764px + 80px);
  margin: 0 auto;
  padding: 0 40px;
  @media (max-width: 420px) {
    padding: 0 1vh;
  }
}
.article__text_full p img {
  max-width: 100%;
  object-fit: contain;
}

.article__title {
  color: $color-text-dark-grey;
  text-align: left;
  padding: 0;
  margin-bottom: 50px;
}
.article__info {
  display: flex;
  align-items: center;
}
.article__author {
  border-right: 1px solid $color-text-grey;
  padding-right: 1.2rem;
  margin-right: 1.2rem;
  text-decoration: none;
  color: $color-text-dark;
  transition: all 0.3s;
  @include font(1.8rem, 133%);
  &:hover{
    color: $color-primary;
  }
}

.article__line {
  border-bottom: 1px solid $color-text-grey;
  margin-bottom: 50px;
}

.article__feedback {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 3vh;
}
.article__feedback{
  margin-bottom: 50px;
  & >*{
    cursor: pointer;
  }
  @media (max-width: 330px) {
    flex-direction: column;
  }
}
.article__actions {
  display: flex;
  flex-direction: column;
}
.share__icon, .favourite__icon {
  margin-right: 12px;
  font-size: "26px";
   color: "#AD2E95" ;
  
}
.article__likes {
  display: flex;
  flex-wrap: nowrap;
}
.likes__icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: baseline;
}
.ql-align-right {
	text-align: right;
}
.ql-align-center {
	text-align: center;
}
.ql-align-left {
	text-align: left;
}
.ql-size-small{
  font-size: 1.1rem;
line-height: 1rem;
}

.ql-size-large{
  font-size: 2.5rem;
}
.ql-size-huge{
  font-size: 3.5rem;
}
blockquote {
 padding-left: 2rem;
 font-weight: bold;
}
.article__text_full blockquote::before{
  content: '" ';
  font-size: 3rem;
  font-weight: 700;
  color: $color-primary;
}
